h1, h2 {
  color: #F6D55C;
}

body {
    font-family: sans-serif;
    margin: 100px auto;
    max-width: 600px;
    padding: 4rem;
  background-color: #20639B;
  }
  
  #inputButton{
    border: none;
    font-size: 16px;
    background-color: #173F5F;
    color: #F6D55C;
    box-shadow: 0px 8px 15px;
  }

  #inputButton:hover {
    background-color: #F6D55C;
    box-shadow: 0px 15px 20px;
    color: #173F5F;
  }